$text-main-color: rgb(255, 253, 228);
$bg-color: #0f0f0f;
$accent-color: #ffff8f;
$filling:rgb(255, 253, 228);


@mixin box($size){
  width: $size;
  height: $size;
}
@mixin round($size) {
  @include box($size);
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

}
.container {
  margin: auto;
  background-color: black;
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.section {
  padding: 20px 0px;
}
.section-title {
  line-height: 200%;
}

.left-column {
  background-color: $bg-color;
  padding: 50px;
  color: $text-main-color;
  
  .avatar {
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
    background: url('../src/img/photo1.jpg') no-repeat 60% 0%;
    @include box(350px)
  }
  
  .contacts {
    .contacts-list {
      list-style-type: none;
      &__item {
        &__flex-wrapper {
          display: flex;
          .rest {
            justify-content: flex-start;
  
          }
        }
        &__info {
          padding-left: 20px;
          line-height: 48px;
          
          .contact-link {
            &:visited {
              color: $text-main-color;
            }
          }
        }
        &_rest {
          margin-right: 15px;
        }
      }
    }
  }
  
  .skill {
    padding: 7px 0;
    display: flex;
    width: 100%;
    align-items: center;
    &__descr {
      padding-left: 20px;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      width: 100%;
      height: 40px;
    }
    &__level {
      max-width: 120px;
      display: flex;
      justify-content: space-between;
      &__unit{
        @include round(15px);
        background-color: none;
        border: 2px solid $accent-color;
        
      }
      .learned {
        background-color: $filling;
      }
      
    }
  
    
  }
  
  .languages {
    .lang-list {
      list-style-type: none;
      &__item {
        padding: 7px 0;
      }
    }
  }

}

.right-column {
  padding: 50px;
  background-color: rgb(255, 253, 228);
  &__wrapper {
    color: $bg-color;
    .general {
      h1 {
        font-size: 2.8rem;
      }
      h2 {
        font-size: 26px;
      }
    }
    .education{
      ul {
        list-style-type: none;
        li {
          padding: 7px 0;
        }
      }
      
    }
    .experience{
      ul {
        list-style-type: none;
        li {
          padding: 7px 0;
        }
      }
    }

    .code {
    
      pre {
        .code-example{
          margin-top: 10px;
          background-color: rgb(41,45,62);
          color: white;
          border-radius: 10px;
          display: block;
          padding: 20px;
          font-family: 'VT323', monospace;
          span {
            font-family: 'VT323', monospace;
          }
          .math {
            color: rgb(236, 162, 236);
          }
          .brackets_outside{
            color: yellow
          }
          .brackets_inside{
            color: rgb(236, 162, 236);
          }
          .keyword {
            color: rgb(236, 162, 236)
          }
          .function {
            color: rgb(114, 114, 253);
          }
        }
        
      }
    }
  }
  
}


          
.link {
  text-decoration: none;
  &_light {
    &:visited {
      color: $text-main-color;
    }
  }
  &_dark {
    color: blue;
    &:visited {
      color: $bg-color;
    }
  }
  
}